<?xml version="1.0"?>
<configuration>
  <!--
  <appSettings>
    <add key="DocumentUltimate:LicenseKey" value="QQJDJLJP34..." />  
  </appSettings>
  -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!-- 
    Setting maxRequestLength (in KB) to match default value 30000000 (28.6 MB) of 
    system.webServer/requestLimits/maxAllowedContentLength for ExampleFileSelector
    -->
    <httpRuntime maxRequestLength="29296"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>