<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <!--
    <add key="DocumentUltimate:LicenseKey" value="QQJDJLJP34..." />  
  -->
  </appSettings>
  <system.web>
    <!-- 
    Setting maxRequestLength (in KB) to match default value 30000000 (28.6 MB) of 
    system.webServer/requestLimits/maxAllowedContentLength for ExampleFileSelector
    -->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="29296" />
    <compilation debug="true" targetFramework="4.6.1"/>
  </system.web>
</configuration>