@using GleamTech.AspNet.UI
@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer
<!DOCTYPE html>

<html>
<head>
    <title>Client-side events</title>
    @this.RenderHead(Model)

    <script type="text/javascript">
        function documentViewerLoaded(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerFailed(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerDocumentLoaded(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerPageChanged(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerPageRendered(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerRotationChanged(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerDownloading(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerPrinting(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerPrintProgress(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerPrinted(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerTextSelected(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function documentViewerTextCopied(sender, e) {
            var documentViewer = sender;

            logEvent(e);
        }

        function logEvent(e) {
            var logTextBox = document.getElementById("LogTextBox");

            var now = new Date().toLocaleTimeString();
            var json = JSON.stringify(e, null, 2);
            logTextBox.value = "[" + now + "]" + "\nEvent arguments: " + json + "\n\n" + logTextBox.value;
            logTextBox.scrollTop = 0;
        }

        function clearLog() {
            var logTextBox = document.getElementById("LogTextBox");

            logTextBox.value = "";
        }
    </script>
</head>
<body style="margin: 20px;">
    @this.RenderBody(ViewBag.ExampleFileSelector as Component)

    <p>
        Events:<br />
        <textarea id="LogTextBox" style="width: 800px; height: 200px; background-color: white; border: 1px solid black"></textarea>
        <br /><input type="button" value="Clear" onclick="clearLog();" />
    </p>

    @this.RenderBody(Model)
</body>
</html>
