@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer
<!DOCTYPE html>

<html>
<head>
    <title>Using with a stream</title>
    @this.RenderHead(Model)
</head>
<body style="margin: 20px;">
    @this.RenderBody(Model)
</body>
</html>
