@using GleamTech.AspNet.UI
@using GleamTech.AspNet.Mvc
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer
<!DOCTYPE html>

<html>
<head>
    <title>Overview</title>
    @this.RenderHead(Model)
</head>
<body style="margin: 20px;">
    @this.RenderBody(ViewBag.ExampleFileSelector as Component)

    @this.RenderBody(Model)
</body>
</html>
